PDF_PATH = "C:/Users/mbala/GenAI Program/RAG_Implimentation/FINAL_Enterprise_Infrastructure_Architecture_Project_Knowledge.pdf"

OPENAI_API_KEY = "my_openai_api_key"
OPENAI_MODEL = "gpt-4.1-mini"

EMBEDDING_MODEL = "sentence-transformers/all-MiniLM-L6-v2"

LANGSMITH_TRACING = true
LANGSMITH_API_KEY = "my_langsmith_api_key"
LANGSMITH_PROJECT = "Infrastructure-Hybrid-RAG"
LANGSMITH_ENDPOINT = "https://api.smith.langchain.com"

# LANGSMITH_WORKSPACE_ID=your_workspace_id